	body{
	margin:0;
	padding: 0;
	}
	div{
	width: 200px;
	height: 200px;
	position: relative;
	}
	.pink {
	background: #ee3e64;
	}
	.blue {
	left: 200px;
	background: #44accf;
	
	}
	.green {
	background: #b7d84b;
	}
